body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
  }
  
h1 {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 100px;
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

h1 > .magic {
    background: linear-gradient(
        to right, rgb(199, 38, 118) 0%, gold 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
}